{% block content %}
<tr tabindex="0">

	<td><input type="radio" id="check{{ contract.id }}" name="id" value="{{ contract.id }}"/></td>
	<td><label for="check{{ contract.id }}">{{ contract.id }}</label></td>
	<td><label for="check{{ contract.id }}">{{ contract.contractDate }}</label></td>
	<td><label for="check{{ contract.id }}">{{ contract.dateExecution }}</label></td>
	<td><label for="check{{ contract.id }}">{{ contract.format }}</label></td>
	<td><label for="check{{ contract.id }}">{{ contract.volume }}</label></td>
	<td><label for="check{{ contract.id }}">{{ contract.circulation }}</label></td>
	<td><label for="check{{ contract.id }}">({{ contract.staff_id.id }}) {{ contract.staff_id.surname }}</label></td>
	<td><label for="check{{ contract.id }}">({{ contract.author_id.id }}) {{ contract.author_id.surname }}</label></td>
	<td><label for="check{{ contract.id }}">({{ contract.publishing_id.id }}) {{ contract.publishing_id.title }}</label></td>
</tr>
{% endblock %}