<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Издательство</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleAuthor.css' %}">
	</head>
	<body>
		
		<h1>Добавление автора в базу данных</h1>
		
		<div class="table">
			<table>
				
			   <tr>
					<td>Фамилия</td>
					<td><input type="text" class="search" placeholder="Поиск"></td>
				</tr>
				<tr>
					<td>Имя</td>
					<td><input type="text" class="search" placeholder="Поиск"></td>
				</tr>
				<tr>
					<td>Отчество</td>
					<td><input type="text" class="search" placeholder="Поиск"></td>
				</tr>
				<tr>
					<td>Телефон</td>
					<td><input type="text" class="search" placeholder="Поиск"></td>
				</tr>
				<tr>
					<td>Адрес</td>
					<td><input type="text" class="search" placeholder="Поиск"></td>
				</tr>
				<tr>
					<td>Серия и номер паспорта</td>
					<td><input type="text" class="search" placeholder="Поиск"></td>
				</tr>
				<tr>
					<td>Почта</td>
					<td><input type="text" class="search" placeholder="Поиск"></td>
				</tr>
				
			</table>
			<a href="websityChangeContract.html"><input type="submit" class="buttonSearch" value="Добавить"></a>
			<a href="websityChangeContract.html"><input type="submit" class="buttonSearch" value="Назад"></a>
		</div>
	</body>
</html>