<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Издательство</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleChangeContract.css' %}">
	</head>
	<body>
		
		<h1>Изменить данные договора</h1>

		<form id="coCh-form" action="" method="post">
       		{% csrf_token %}
			<div class="table">
				<table>
					<tr>
						<td>ID</td>
						<td><input type="text" class="search" name = "id" value="{{ idContract.id }}" readonly></td>
					</tr>

				   <tr>
						<td>Дата договора</td>
						<td><input type="date" class="search" name = "contractDate" value="{{ idContract.contractDate|date:'o-m-d' }}"  ></td>
					</tr>
					<tr>
						<td>Автор</td>
						<td style="font-size: 0;">
							<select class="search" style = "width: 336px;" name="author_id" >
								<option selected value="{{ idContract.author_id.id }}">({{ idContract.author_id.id }}) {{ idContract.author_id.surname }}</option>
								{% for author in selectAuthor %}
								<option value="{{ author.id }}">({{ author.id }}) {{ author.surname }}</option>
								{% endfor %}
								<!--<option  >84x108/32</option>
								<option >84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>-->
							</select>
							<!--<input type="text" class="search" name = "author_id" placeholder="Поиск">-->
							<!--<a href="websityAuthor1.html"><div  class="buttonSearchPluc" style="display:inline-block; height:47px">-->
							<a href="websityContract.html">
							<button type="submit" name="plus" class="buttonSearchPluc">
							<!--<img src="{% static 'img/+.png' %}"
											alt="" style="vertical-align:middle; margin:0 10px" width= "36px" height= "36px">-->
						<!--</div>--></button>
							</a>
						</td>
					</tr>
					<tr>
						<td>Издательство</td>
						<td>
							<select class="search"  name="publishing_id" >
								<option selected value="{{ idContract.publishing_id.id }}">({{ idContract.publishing_id.id }}) {{ idContract.publishing_id.title }}</option>
								{% for publishing in selectPublishing %}
								<option value="{{ publishing.id }}">({{ publishing.id }}) {{ publishing.title }}</option>
								{% endfor %}
								<!--<option  >84x108/32</option>
								<option >84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>-->
							</select>
							<!--<input type="text" class="search" name = "publishing_id" placeholder="Поиск">-->
						</td>
					</tr>
					<tr>
						<td>Сотрудник</td>
						<td>
							<select class="search"  name="staff_id" >
								<option selected value="{{ idContract.staff_id.id }}">({{ idContract.staff_id.id }}) {{ idContract.staff_id.surname }}</option>
								{% for staff in selectStaff %}
								<option value="{{ staff.id }}">({{ staff.id }}) {{ staff.surname }}</option>
								{% endfor %}

								<!--<option  >84x108/32</option>
								<option >84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>-->
							</select>
							<!--<input type="text" class="search" name = "staff_id" placeholder="Поиск">-->
						</td>
					</tr>
					<tr>
						<td>Формат</td>
						<td>
							<select class="search" name="format" >
								<option>84x108/32</option>
								<option>84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>
								<option selected>{{ idContract.format }}</option>
							</select>
							<!--<input type="text" class="search" placeholder="Поиск">-->
						</td>
					</tr>
					<tr>
						<td>Объём</td>
						<td><input type="number" class="search" name = "volume" min = 0 value="{{ idContract.volume }}" ></td>
					</tr>
					<tr>
						<td>Тираж</td>
						<td><input type="number" class="search" name = "circulation" min = 1 value="{{ idContract.circulation }}" ></td>
					</tr>
					<tr>
						<td>Дата исполнения</td>
						<td><input type="date" class="search" name = "dateExecution" value="{{ idContract.dateExecution|date:'o-m-d' }}" ></td>
					</tr>
				</table>
				<a href="websityContract.html"><input type="submit" name="SaveUpdate" class="buttonSearch" value="Сохранить"></a>
				<a href="websityContract.html" style=" text-decoration:none">
					<div class="buttonSearchDiv" style="display: inline-block;vertical-align:top;text-align: center;">Назад</div>
				</a>
			</div>
		</form>
		<!--<div class="table">
			<table>
				
			   <tr>
					<td>Дата договора</td>
					<td><input type="text" class="search" value="01.10.2021"></td>
				</tr>
				<tr>
					<td>Автор</td>
					<td style="font-size: 0;"><input type="text" class="search" style = "width:336px" value="01">
					<a href="websityAuthor.html"><button type="submit" class="buttonSearchPluc"><img src="{% static 'img/+.png' %}"
					alt="" style="vertical-align:middle" width= "36px" height= "36px"></button></a></td>
				</tr>
				<tr>
					<td>Издательство</td>
					<td><input type="text" class="search" value="05"></td>
				</tr>
				<tr>
					<td>Сотрудник</td>
					<td><input type="text" class="search" value="02"></td>
				</tr>
				<tr>
					<td>Формат</td>
					<td><input type="text" class="search" value="86х108/32"></td>
				</tr>
				<tr>
					<td>Объём</td>
					<td><input type="text" class="search" value="300"></td>
				</tr>
				<tr>
					<td>Тираж</td>
					<td><input type="text" class="search" value="14000"></td>
				</tr>
				<tr>
					<td>Дата исполнения</td>
					<td><input type="text" class="search" value="31.12.2021"></td>
				</tr>
			</table>
			<a href="websityContract.html"><input type="submit" class="buttonSearch" value="Сохранить"></a>
			<a href="websityContract.html"><input type="submit" class="buttonSearch" value="Назад"></a>
		</div>-->
	</body>
</html>