<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Издательство</title>
		<link rel="stylesheet" type="text/css" href="static/css/styleFormalizeContract.css">
	</head>
	<body>
		<div>
			<div class="a"style="display:inline-block"><a href="websityContract.html" class="Contract"><!--<img  src = "ДоговорПрямоугольник.png">--></a>
			<a href="websityContract.html"class="ContractText">Договоры</a></div>
			<div class="a1"style="display:inline-block"><a href="websityFormalizeContract.html" class="formalizeContract"><!--<img  src = "ОформитьДоговорПрямоугольник.png">--></a>
			<a href="websityFormalizeContract.html" class="formalizeContractText">ОформитьДоговор</a></div>
			<div class="a2"style="display:inline-block;float:right"><a href="websity.html" class="Exit" ><!--<img src = "ВыйтиПрямоугольник.png">--></a>
			<a href="websity.html" class="ExitText">Выйти</a></div>
		</div>
		<hr size="5" style="">
		<form id="co-form" action="" method="post">
       		{% csrf_token %}
			<div class="table">
				<table>

				   <tr>
						<td>Дата договора</td>
						<td><input type="date" class="search" name = "contractDate" required></td>
					</tr>
					<tr>
						<td>Автор</td>
						<td style="font-size: 0;">
							<select class="search" style = "width: 336px;" name="author_id" required>
								{% for author in selectAuthor %}
								<option value="{{ author.id }}">({{ author.id }}) {{ author.surname }}</option>
								{% endfor %}
								<!--<option  >84x108/32</option>
								<option >84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>-->
							</select>
							<!--<input type="text" class="search" name = "author_id" placeholder="Поиск">-->
						<a href="websityAuthor.html"><div  class="buttonSearchPluc" style="display:inline-block; height:47px"><!--<button type="submit" class="buttonSearchPluc">-->
							<!--<img src="{% static 'img/+.png' %}"
											alt="" style="vertical-align:middle; margin:0 10px" width= "36px" height= "36px">--></div>div><!--</button>--></a></td>
					</tr>
					<tr>
						<td>Издательство</td>
						<td>
							<select class="search"  name="publishing_id" required>
								{% for publishing in selectPublishing %}
								<option value="{{ publishing.id }}">({{ publishing.id }}) {{ publishing.title }}</option>
								{% endfor %}
								<!--<option  >84x108/32</option>
								<option >84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>-->
							</select>
							<!--<input type="text" class="search" name = "publishing_id" placeholder="Поиск">-->
						</td>
					</tr>
					<tr>
						<td>Сотрудник</td>
						<td>
							<select class="search"  name="staff_id" required>
								{% for staff in selectStaff %}
								<option value="{{ staff.id }}">({{ staff.id }}) {{ staff.surname }}</option>
								{% endfor %}

								<!--<option  >84x108/32</option>
								<option >84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>-->
							</select>
							<!--<input type="text" class="search" name = "staff_id" placeholder="Поиск">-->
						</td>
					</tr>
					<tr>
						<td>Формат</td>
						<td>
							<select class="search" name="format" required>
								<option selected>84x108/32</option>
								<option>84x108/1/32</option>
								<option>70x90/1/32</option>
								<option>60x84/8</option>
							</select>
							<!--<input type="text" class="search" placeholder="Поиск">-->
						</td>
					</tr>
					<tr>
						<td>Объём</td>
						<td><input type="number" class="search" min = 0 name = "volume" required></td>
					</tr>
					<tr>
						<td>Тираж</td>
						<td><input type="number" class="search" min = 1 name = "circulation" required></td>
					</tr>
					<tr>
						<td>Дата исполнения</td>
						<td><input type="date" class="search" name = "dateExecution" required></td>
					</tr>
				</table>
				<a href="websityPrint.html"><input type="submit" class="buttonSearch" value="Оформить"></a>
			</div>
		</form>
	</body>
</html>