<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Издательство</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylePrint.css' %}">
	</head>
	<body>
		<div class="a"><a href="websityContract.html"><input type="submit" class="buttonSearch" value="На главную"></a></div>
		<div class="block">



			<h1>Издательский договор</h1>
			<p style="display:inline-block;text-indent: 0px;">{{ idContract.publishing_id.address }}</p>
			<p style="display:inline-block;float:right">{{ idContract.contractDate }} </p>
			<p>Издательство {{ idContract.publishing_id.title }}, именуемое в дальнейшем "Издательство", в лице директора Васильева Ольга Иванов,
				действующего на основании устава, и {{ idContract.author_id.surname }} {{ idContract.author_id.name }} {{ idContract.author_id.patronymic }}, именуемый в дальнейшем "Автор",
			заключили договор о нижеслудующем.</p>
			<h2>1. Предмет договора</h2>
			<p>1.1. Автор обязуется создать и передать Издательству для издания на русском языке свое произведение.</p>
			<p>1.2. Указанное произведение должно удовлетворять следующим условиям:</p>
			<ol type="a">
				<li>объем {{ idContract.volume }} до 1000 авторских листов(стихотворных строк), включая приложения и иллюстрации;</li>
				<li>формат печати {{ idContract.format }};</li>
				<li>тираж не менее {{ idContract.circulation }} экземпляров.</li>
			</ol>
			<p>1.3. Автор обязуется передать Издательству право на использование произведения следующими способами:</p>
			<ol type="a">
				<li>распространять экземпляры произведения любым способом: продавать, сдавать в прокат и т.д. (право на распространение);</li>
				<li>импортировать экземпляры произведения в целях распространения, включая экземпляры, изготовленные с разрешения обладателя исключительных авторских прав
				(право на импорт);</li>
				<li>переводить произведение (право на перевод);</li>
				<li>переделывать, аранжировать или другим образом перерабатывать произведение (право на переработку) на срок 6 месяцев и на территории России.</li>
			</ol>
			<h2>2. Права и обязанности сторон</h2>
			<p>2.1. Автор обязуется предоставить Издательству произведние не позднее 60 дней после заключения договора.</p>
			<p>Произведение считается сданным в надлежащем виде, если Издательство в течении 10 дней после его получения не предъявило Автору требований о доукомплектования или 
			дооформлении произведения.</p>
			<p>2.2. Издательство обязуется распространить произведение Автора не позднее {{ idContract.dateExecution }}.</p>

		</div>
		
	</body>
</html>