<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Издательство</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styleReg.css' %}">
	</head>
	<body>
		<div class="RegisterNow">
			 <form action="handler.php">
			 
				<p class="text ">Регистрация сотрудника</p>
				<p class="block"><input class="surname textpole" type="text" name="surname" placeholder="Фамилия"><Br>
				<input class="name textpole" style="" type="text" name="name" placeholder="Имя"><Br>
				<input class="patronymic textpole" type="text" name="patronymic" placeholder="Отчество"><Br>
				<input class="loginRge textpole" type="text" name="loginRge" placeholder="Логин"><Br>
				<input class="passwordReg textpole" type="password" name="passwordReg" placeholder="Пароль"><Br>
				<input class="passport textpole" type="text" name="passport" placeholder="Серия и номер паспорта"><Br>
				<input class="email textpole" type="text" name="email" placeholder="Email"><Br>
				<input class="telefon textpole" type="text" name="telefon" placeholder="Телефон"><Br>
				<input class="address textpole" type="text" name="address" placeholder="Адрес"><Br>
				<input class="accessRights textpole" type="text" name="accessRights" placeholder="Права доступа"><Br></p>
				
			 </form>
			 <a href="websity.html"><p class="buttonRegisterP"><input type="submit" class="buttonRegisterNow" value="Зарегистрироваться"></p></a>
		</div>
	</body>
</html>