<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Издательство</title>
		<link rel="stylesheet" type="text/css" href="styleChangeContract.css">
	</head>
	<body>
		
		<h1>Изменить данные договора</h1>
		
		<div class="table">
			<table>
				
			   <tr>
					<td>Дата договора</td>
					<td><input type="text" class="search" value="01.10.2021"></td>
				</tr>
				<tr>
					<td>Автор</td>
					<td style="font-size: 0;"><input type="text" class="search" style = "width:336px" value="01">
					<a href="websityAuthor.html"><button type="submit" class="buttonSearchPluc"><img src="+.png" 
					alt="" style="vertical-align:middle" width= "36px" height= "36px"></button></a></td>
				</tr>
				<tr>
					<td>Издательство</td>
					<td><input type="text" class="search" value="05"></td>
				</tr>
				<tr>
					<td>Сотрудник</td>
					<td><input type="text" class="search" value="02"></td>
				</tr>
				<tr>
					<td>Формат</td>
					<td><input type="text" class="search" value="86х108/32"></td>
				</tr>
				<tr>
					<td>Объём</td>
					<td><input type="text" class="search" value="300"></td>
				</tr>
				<tr>
					<td>Тираж</td>
					<td><input type="text" class="search" value="14000"></td>
				</tr>
				<tr>
					<td>Дата исполнения</td>
					<td><input type="text" class="search" value="31.12.2021"></td>
				</tr>
			</table>
			<a href="websityContract.html"><input type="submit" class="buttonSearch" value="Сохранить"></a>
			<a href="websityContract.html"><input type="submit" class="buttonSearch" value="Назад"></a>
		</div>
	</body>
</html>