<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Издательство</title>
		<link rel="stylesheet" type="text/css" href="styleContract.css">
	</head>
	<body>
		<div>
			<div class="a"style="display:inline-block"><a href="websityContract.html" class="Contract"><!--<img  src = "ДоговорПрямоугольник.png">--></a>
			<a href="websityContract.html"class="ContractText">Договоры</a></div>
			<div class="a1"style="display:inline-block"><a href="websityFormalizeContract.html" class="formalizeContract"><!--<img  src = "ОформитьДоговорПрямоугольник.png">--></a>
			<a href="websityFormalizeContract.html" class="formalizeContractText">ОформитьДоговор</a></div>
			<div class="a2"style="display:inline-block;float:right"><a href="websity.html" class="Exit" ><!--<img src = "ВыйтиПрямоугольник.png">--></a>
			<a href="websity.html" class="ExitText">Выйти</a></div>
		</div>
		<hr size="5" style="">
		<form>
			<p class="buttonSortP" style="display:inline-block">
				<nav class="wrap-myMenu">
					<button class="main-myButton">☰</button>
					<ul class="content">
					  <li><a href="#link97">Главная</a></li>
					  <li><a href="#link98">Обо мне</a></li>
					  <li><a href="#link99">Портфолио</a></li>
					</ul>
				  </nav><!--</button><input type="submit" class="buttonSort" value="Сортировать">--></p>
			<p style="display:inline-block;float:right;"><input type="text" class="search" placeholder="Поиск">
			<button type="submit" class="buttonSearch"><img src="лупа.png" alt="" style="vertical-align:middle" width= "36px" height= "36px"></button></p>
		</form>
		<div class="table">
			<table>
				<tr>
					<th>ID</th>
					<th>Дата договора</th>
					<th>Дата исполнения</th>
					<th>Формат</th>
					<th>Объём</th>
					<th>Тираж</th>
					<th>Сотрудник</th>
					<th>Автор</th>
					<th>Издательство</th>
			   </tr>
			   <tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Дата договора</td>
					<td>Дата исполнения</td>
					<td>Формат</td>
					<td>Объём</td>
					<td>Тираж</td>
					<td>Сотрудник</td>
					<td>Автор</td>
					<td>Издательство</td>
				</tr>
			</table>
			<div class="button">
				<a href="websityPrint.html"><input type="submit" class="buttonStyle buttonPrint" value="Печатать"></a>
				<a href="websityChangeContract.html"><input type="submit" class="buttonStyle buttonEdit" value="Редактировать"></a>
				<input type="submit" class="buttonStyle buttonDelete" value="Удалить">
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
			$(function() {
				$('.main-myButton').click(function() {
					$('.content').slideToggle();
				});
			});
			</script>
	</body>
</html>